numpy
pandas
matplotlib
jupyter
tweepy
instaloader
facebook-scraper
PyYAML
beautifulsoup4
wordcloud
spacy
trafilatura
requests
sentence-transformers
scikit-learn
gensim
rake-nltk
seaborn
tensorflow_hub
tensorflow
scipy
- [2020-11-09] (Influencer) schedule note: Add visualization for Influencer

- [2020-11-17] (Marketing) schedule note: Add visualization for Marketing
